<div class="container">
  <%= render 'form' %>

  <table class="comments">
  <% @comments.each do |comment| %>
    <tr>
      <td>jasonbenn | 3 hours ago<br>
      <span><%= comment.text %></td></span>
    </tr>
  <% end %>
  </table>
</div>
